*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;  
    width: 100vw;
}
.container{
   
    background-color: #2a2a2a;
    height: 100%;
    width: 100%;
    display: grid; 
    padding: 4rem ;
    /* row-gap: 2rem; */
    /* column-gap: 2rem;
     */gap: 2rem; 
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-rows: 100px 100px ;
     */
     grid-template-rows:repeat(6,1fr);
        grid-template-columns: repeat(1,1fr);
}
.item{
    background-color: #71d0c3;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    fontsize: 3rem;
    align-items: center;
}

@media(min-width:768px){
    .container{
          grid-template-rows:repeat(4,1fr);
        grid-template-columns: repeat(3,1fr);
    }
    
.header,.footer{
    background-color: #71d0c3;
    border: 3px solid black;
    grid-column-start:1;
    grid-column-end:4;
}
.sidebar{
     
    grid-row-start:2;
    grid-row-end:4;
}
.content1{
    grid-column-start:2;
  
    grid-column-end:4;
} 
}